/* Rset */
*{
    margin:0; /*margem do body zerada*/
    padding:0; /*espaço interno do body zerado*/
}

.cabecalho{
    background-color: rgb(110, 250, 133);/*cor de fundo*/
    display:flex;/* disposição dos elementos flexíveis*/
    justify-content:space-between;/* justificar conteúdo c/ espaços entre*/
    align-items:center;/*alinhamento vertical do itens no centro*/
    height: 100px;/*altura da área  do cabeçalho em 100 pixels*/
}

ul{
    display:flex; /*flexibilidade dos elementos da lista ul*/
    justify-content:space-between;/*espaço entre os elementos*/
}
.cabecalho-item-lista{
    padding: 15px; /*espaçamento interno de cada item de 15pixels*/
    list-style-type:none ;/*eliminando o ponto antes de cada item*/
}


.conteudo-secao-sustentavel{
    display:flex;
    align-itens:center;
    justify-content: space-between;
    padding:60px 5% /*espaço interno de 60px e 5% */
    min-height: 80vh; /* altura minima de 80*/
    gap: 30px; /*espaço vazio de 30px*/
}
.conteudo-sustentavel-texto{
    flex:1;
}